<nav id="nav" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">TweetStache <i class="icon-twitter"></i></a>
  <ul class="navbar-nav">
    <li class="nav-item active">

      <form class="form-inline my-2 my-lg-0">
        <input id="search-bar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="submit" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        <div class="pull-right">
          <ul class="nav navbar-nav">
            <li class=" nav-item">
              <a href="/logout" id="logout" class="nav-item btn btn-outline-secondary" role="button">Logout</a>
            </li>
          </ul>
        </div>
      </form>


      </div>
</nav>


<div id="home">


  <div class="container">
    <div class="row">
      <ul>
        {{#each tweet}}
        <div class="tweet" id="{{this.tweet_id}}"></div>
        {{/each}}
      </ul>
    </div>
  </div>

  {{!-- <h3>Your Tweets:</h3>
    <ul id="example-list" class="list-group">
      {{#each tweets}}
      <li data-id="{{this.dataValues.id}}" class="list-group-item">
        <a href="tweet/{{this.dataValues.id}}">{{this.dataValues.tweetId}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </div> --}}
</div>





</div>
</div>

<script sync src="https://platform.twitter.com/widgets.js"></script>

<script>

  var tweets = jQuery(".tweet");

  jQuery(tweets).each(function (t, tweet) {

    var id = jQuery(this).attr('id');

    twttr.widgets.createTweet(
      id, tweet,
      {
        // none or all
        conversation: 'none',
        // hidden or visible 
        cards: 'visible',
        // default is #cc0000
        linkColor: '#cc0000',
        // light or dark
        theme: 'light'
      });

  });

</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>