{{!-- Basic layout for login page --}}


<div class="login-jumbo jumbotron jumbotron-fluid vertical-center">
  <div class="container">
    <h1 class="lobster display-4">Welcome to TweetStache</h1>
    <p class="quicksand lead">Please Login using your Google Account.</p>
    <div class="container">
      <div class="row">
        <div class="col">
          {{!-- Login url goes to our passport auth route --}}
          <a href="/auth/google">Sign In with Google</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>